body
{
    min-height: 100%;
    background-color: #1f2428 !important;
}

.section
{
    padding: 50px;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.sendFile
{
    margin: 10px;
    border: 1px solid #505050;
    border-radius: 5px;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
}